/DeveloperStore/.vs/DeveloperStore/DesignTimeBuild/.dtbcache.v2
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/22488128-cb1f-4317-8dda-d5882a279f93.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/3980d68c-d95c-401f-b68f-74c726d8149b.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/3c9133a6-7ed9-4cad-a67c-f2f89a4049d3.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/bb7f7513-5f0e-4417-a532-e7d96bef8120.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/cbad4f6a-16b0-4e75-be11-02c53a4cef5d.vsidx
/DeveloperStore/.vs/DeveloperStore/v17/.futdcache.v2
/DeveloperStore/.vs/DeveloperStore/v17/.suo
/DeveloperStore/.vs/DeveloperStore/v17/DocumentLayout.backup.json
/DeveloperStore/.vs/DeveloperStore/v17/DocumentLayout.json
/DeveloperStore/.vs/ProjectEvaluation/developerstore.metadata.v9.bin
/DeveloperStore/.vs/ProjectEvaluation/developerstore.projects.v9.bin
/DeveloperStore/.vs/ProjectEvaluation/developerstore.strings.v9.bin
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Data.deps.json
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Data.pdb
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Domain.pdb
