/DeveloperStore/.vs/DeveloperStore/DesignTimeBuild/.dtbcache.v2
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/22488128-cb1f-4317-8dda-d5882a279f93.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/3980d68c-d95c-401f-b68f-74c726d8149b.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/3c9133a6-7ed9-4cad-a67c-f2f89a4049d3.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/bb7f7513-5f0e-4417-a532-e7d96bef8120.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/cbad4f6a-16b0-4e75-be11-02c53a4cef5d.vsidx
/DeveloperStore/.vs/DeveloperStore/v17/.futdcache.v2
/DeveloperStore/.vs/DeveloperStore/v17/.suo
/DeveloperStore/.vs/DeveloperStore/v17/DocumentLayout.backup.json
/DeveloperStore/.vs/DeveloperStore/v17/DocumentLayout.json
/DeveloperStore/.vs/ProjectEvaluation/developerstore.metadata.v9.bin
/DeveloperStore/.vs/ProjectEvaluation/developerstore.projects.v9.bin
/DeveloperStore/.vs/ProjectEvaluation/developerstore.strings.v9.bin
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Data.deps.json
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Data.pdb
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Data/bin/Debug/net8.0/DeveloperStore.Domain.pdb
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/appsettings.Development.json
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/appsettings.json
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Azure.Core.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Azure.Identity.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Api.deps.json
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Api.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Api.exe
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Api.pdb
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Api.runtimeconfig.json
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Api.staticwebassets.endpoints.json
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Application.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Application.pdb
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Data.pdb
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.DI.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.DI.pdb
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Domain.pdb
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Infra.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/DeveloperStore.Infra.pdb
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.OpenApi.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Sentry.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/System.ClientModel.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/System.Drawing.Common.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/System.Memory.Data.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/System.Runtime.Caching.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/System.Security.Permissions.dll
/DeveloperStore/DeveloperStore.Api/bin/Debug/net8.0/System.Windows.Extensions.dll
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/ApiEndpoints.json
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/apphost.exe
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/Develope.78B59DA8.Up2Date
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.AssemblyInfoInputs.cache
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.csproj.AssemblyReference.cache
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.csproj.BuildWithSkipAnalyzers
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.csproj.CoreCompileInputs.cache
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.csproj.FileListAbsolute.txt
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.dll
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.genruntimeconfig.cache
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.MvcApplicationPartsAssemblyInfo.cache
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.MvcApplicationPartsAssemblyInfo.cs
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.pdb
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/DeveloperStore.Api.sourcelink.json
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/EndpointInfo/DeveloperStore.Api.json
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/EndpointInfo/DeveloperStore.Api.OpenApiFiles.cache
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/ref/DeveloperStore.Api.dll
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/refint/DeveloperStore.Api.dll
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/staticwebassets.build.json
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.DeveloperStore.Api.props
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.DeveloperStore.Api.props
/DeveloperStore/DeveloperStore.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.DeveloperStore.Api.props
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/04ec1a6d-24c1-4c41-925a-b2c7337930b8.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/15b56238-72a0-4dcb-9335-eeee3b505334.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/a7505c55-2b15-4454-b530-0d1c3d9c255a.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/d739ef61-0f36-4759-a24b-3076eeeefe26.vsidx
/DeveloperStore/.vs/DeveloperStore/FileContentIndex/e9e727c3-0b18-448e-8e4e-e5e87e2fc9fe.vsidx
/DeveloperStore/DeveloperStore.Application/bin/Debug/net8.0/DeveloperStore.Application.deps.json
/DeveloperStore/DeveloperStore.Application/bin/Debug/net8.0/DeveloperStore.Application.dll
/DeveloperStore/DeveloperStore.Application/bin/Debug/net8.0/DeveloperStore.Application.pdb
/DeveloperStore/DeveloperStore.Application/bin/Debug/net8.0/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.Application/bin/Debug/net8.0/DeveloperStore.Data.pdb
/DeveloperStore/DeveloperStore.Application/bin/Debug/net8.0/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Application/bin/Debug/net8.0/DeveloperStore.Domain.pdb
/DeveloperStore/DeveloperStore.Application/bin/Debug/net8.0/DeveloperStore.Infra.dll
/DeveloperStore/DeveloperStore.Application/bin/Debug/net8.0/DeveloperStore.Infra.pdb
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/Develope.F8C93967.Up2Date
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.AssemblyInfoInputs.cache
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.csproj.AssemblyReference.cache
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.csproj.BuildWithSkipAnalyzers
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.csproj.CoreCompileInputs.cache
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.csproj.FileListAbsolute.txt
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.dll
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.pdb
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.sourcelink.json
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/ref/DeveloperStore.Application.dll
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/refint/DeveloperStore.Application.dll
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.AssemblyInfoInputs.cache
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.csproj.AssemblyReference.cache
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.csproj.BuildWithSkipAnalyzers
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.pdb
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.sourcelink.json
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/ref/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/refint/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.Application.dll
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.Application.pdb
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.Data.pdb
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.DI.deps.json
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.DI.dll
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.DI.pdb
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.Domain.pdb
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.Infra.dll
/DeveloperStore/DeveloperStore.DI/bin/Debug/net8.0/DeveloperStore.Infra.pdb
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/Develope.9E2588DD.Up2Date
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.AssemblyInfoInputs.cache
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.assets.cache
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.csproj.AssemblyReference.cache
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.csproj.BuildWithSkipAnalyzers
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.csproj.CoreCompileInputs.cache
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.csproj.FileListAbsolute.txt
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.dll
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.GeneratedMSBuildEditorConfig.editorconfig
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.GlobalUsings.g.cs
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.pdb
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/DeveloperStore.DI.sourcelink.json
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/ref/DeveloperStore.DI.dll
/DeveloperStore/DeveloperStore.DI/obj/Debug/net8.0/refint/DeveloperStore.DI.dll
/DeveloperStore/DeveloperStore.Domain/bin/Debug/net8.0/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Domain/bin/Debug/net8.0/DeveloperStore.Domain.pdb
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.AssemblyInfoInputs.cache
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.csproj.BuildWithSkipAnalyzers
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.csproj.CoreCompileInputs.cache
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.pdb
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.sourcelink.json
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/ref/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/refint/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Infra/bin/Debug/net8.0/DeveloperStore.Infra.deps.json
/DeveloperStore/DeveloperStore.Infra/bin/Debug/net8.0/DeveloperStore.Infra.dll
/DeveloperStore/DeveloperStore.Infra/bin/Debug/net8.0/DeveloperStore.Infra.pdb
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.AssemblyInfoInputs.cache
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.csproj.BuildWithSkipAnalyzers
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.csproj.CoreCompileInputs.cache
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.csproj.FileListAbsolute.txt
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.dll
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.pdb
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.sourcelink.json
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/ref/DeveloperStore.Infra.dll
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/refint/DeveloperStore.Infra.dll
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.AssemblyInfoInputs.cache
/DeveloperStore/DeveloperStore.Application/obj/Debug/net8.0/DeveloperStore.Application.csproj.AssemblyReference.cache
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.AssemblyInfoInputs.cache
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.csproj.AssemblyReference.cache
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.pdb
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/DeveloperStore.Data.sourcelink.json
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/ref/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.Data/obj/Debug/net8.0/refint/DeveloperStore.Data.dll
/DeveloperStore/DeveloperStore.Domain/bin/Debug/net8.0/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Domain/bin/Debug/net8.0/DeveloperStore.Domain.pdb
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.AssemblyInfoInputs.cache
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.csproj.CoreCompileInputs.cache
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/DeveloperStore.Domain.pdb
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/ref/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Domain/obj/Debug/net8.0/refint/DeveloperStore.Domain.dll
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.AssemblyInfo.cs
/DeveloperStore/DeveloperStore.Infra/obj/Debug/net8.0/DeveloperStore.Infra.AssemblyInfoInputs.cache
